<!DOCTYPE HTML>
<html>

<body>

  <div class = "list">
<div class = "head"><h1><u>Categories</u></h1></div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
     {% for message in messages %}
        <li> <strong>{{message}}</strong> </li>
      {% endfor %}
  {% endif %}
{% endwith %}
<div class = "newmenulink">
  <h2><a href = '{{url_for('newCategory')}}'>Create New Category</a></h2>
</div>
{% for category in categories %}
   <h3><a href = '{{url_for('showProducts',category_id=category.id)}}'>{{category.name}}</h3>

{% endfor %}
</div>
</body>
</html>
