<!DOCTYPE HTML>
<html>
<body>
<div class = "menu">
  <div class = "menuedit"><h1> Edit Product </h1>
<form method = 'POST' action = '{{url_for('editProduct',category_id=category_id,id=id)}}'>
      <div class="nameitem">
        Name:
        <br>
        <input type = "text" size="60" name = 'editprodname' placeholder='{{editingprod.name}}' onkeypress="return event.keyCode != 13;"><br>
      </div>
      <div class="descript">
        <div class="desctitle">
          Description:
        </div>
        <br>
      <textarea type = "text" name = 'editproddesc' placeholder="{{editingprod.description}}" rows="4" cols="60" onkeypress="return event.keyCode != 13;"></textarea>  <br>
      </div>
  </div>
  <input type = "submit" class="button" value = 'Edit Menu'>
  <br><br>
  <a href = '{{url_for('showProducts',category_id=category_id)}}'>Cancel</h2>
</div>
</form>
</body>
</html>
